<!-- <div>
    @switch(productState.state.status()){
        @case("loading"){
            <p>apait ytkn</p>
        }
        @case("error"){
            <p>gloglo</p>
        }
        @default {
            <div>
                <button [type]="">
                    Siguiente Página
                </button>
            </div>
        }
    }

</div>
<!-- <table>
    <thead *ngIf="productData != null">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">D</th>
            <th scope="col">P</th>
            <th scope="col">C</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productData">
            <th scope="row"><a [routerLink]="['']></a></th>
            <td>{{product.title}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price | currency}}</td>
            <td>{{product.category}}</td>
        </tr>
    </tbody>
</table> --> -->

<!-- @switch(productState.state.status()){
    @case('loading'){
        <p>Loading...</p>
    }@case('error'){
        <p>Error: {{productState.state.status()}}</p>
    }@default{
        <button type="button" (click)="productState" 
        class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Ver más
       </button>
       <div class="grid grid-cols-[repeat(4,300px)]">      
            @for(product of productState.state().products; track product.id){
                <app-product-card [product]="product"></app-product-card>      
            }
       </div>
    }
} -->

<!-- Set-ExecutionPolicy -ExecutionPolicy AllSigned -Scope CurrentUser -->