<div>
    @switch(productState.state.status()){
        @case("loading"){
            <p>apait ytkn</p>
        }
        @case("error"){
            <p>gloglo</p>
        }
        @default {
            <div>
                <button [type]="">
                    Siguiente Página
                </button>
            </div>
        }
    }

</div>
<!-- <table>
    <thead *ngIf="productData != null">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">D</th>
            <th scope="col">P</th>
            <th scope="col">C</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productData">
            <th scope="row"><a [routerLink]="['']></a></th>
            <td>{{product.title}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price | currency}}</td>
            <td>{{product.category}}</td>
        </tr>
    </tbody>
</table> -->